In [3]:
ALL_FIELDS = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
             'marital-status', 'occupation', 'relationship', 'race',
             'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']
CONT_FIELDS = ['age', 'fnlwgt', 'education-num',
               'capital-gain', 'capital-loss', 'hours-per-week']
CAT_FIELDS = list(set(ALL_FIELDS).difference(CONT_FIELDS))

# Hyper-parameters for Experiment
NUM_BIN = 10
BATCH_SIZE = 256
EMBEDDING_SIZE = 5

In [8]:
import pandas as pd
x = pd.DataFrame()
y = pd.DataFrame({'a':[1,2,3], 'b':[4,5,6]})
x

Empty DataFrame
Columns: []
Index: []

In [10]:
pd.concat([x,y])

   a  b
0  1  4
1  2  5
2  3  6